<app-header></app-header>

<div style="display: flex; flex-direction: row; gap: 20px;">
    <div>
        <div style="display: flex; gap: 12px;">
            <div class="lbl-1">I'm</div>
            <div class="name-lbl">Kevin Paul Merwa</div>
        </div>
        <div class="lbl-2">Software Engineer</div>
        <div class="contact-me-btn">Contact Me</div>
    </div>
    <div style="width: 200px; height: 200px;">
        <img src="../../assets/images/1713528228679211.jpg" alt="" style="height: 100%; overflow: hidden; border-radius: 100px;">
    </div>
</div>


<div (click)="toggleTheme()" style="margin-top: 20px; cursor: pointer; border: 1px solid purple; width: 150px;">Theme</div>